.field {
    flex-direction: column;
    margin-bottom: 5%;
}
.label{

}
.input{
    margin-top: 1%;
    display:flex;
    width: 90%;
    
}
/* .input, select{
    width: 90%;
    
} */

#submitRequest {
    margin: 1rem 0 2rem 0;
    padding: 0.5rem;
    background-color: rgb(18, 49, 221);
    color: lightgoldenrodyellow;
    font-size: 1rem;
}
.requestList{
    background-color: aquamarine;
}

